---
# SPDX-License-Identifier: Apache-2.0
# Copyright(c) 2021-2025 Wind River Systems, Inc.
- name: Deployment Manager Playbook
  hosts: all
  gather_facts: false
  become: false
  tasks:
    - import_role:
        name: common

    - include_role:
        name: initial-config
      when:
        - not subcloud_enrollment
        - not scope_principal

    - include_role:
        name: reconfig
      when:
        - initial_configuration_done
        - deploy_config is defined
